{% extends 'base.html.twig' %}

{% block title %}Nouvelle figure{% endblock %}

{% block body %}
    <h1>Crée une nouvelle figure</h1>
    {{ include('figure/_form.html.twig') }}
    <a class="btn my-1" href="{{ path('figure_index') }}">Retour</a>
{% endblock %}
