{% extends 'base.html.twig' %}

{% block title %} New Group {% endblock %}

{% block body %}
    <h1>Create new Group</h1>

    {{ include('group/_form.html.twig') }}

    <a href="{{ path('group_list') }}">back to list</a>
{% endblock %}
